# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Python related files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
*.whl
reel_output
lambda_function

# Virtual environment
venv/
.env/
*.env
*.env.*
.venv/
pip-log.txt
pip-delete-this-directory.txt
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/
.cache/

# Coverage
.coverage
*.cover
*.py,cover
htmlcov/

# PyInstaller
*.manifest
*.spec

# Celery
celerybeat-schedule
celerybeat.pid

# Unit test / Coverage reports
htmlcov/
.tox/
.nox/

# Editors and IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
